html {
    background-color: #ffffff;
    color: #555;
}

a {
    color: #4fa5e3;
    text-decoration: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Bitter", sans-serif;
}

h1, h2 {
    font-weight: normal;
}

p {
    line-height: 1.5em;
}

.g .g-1-2 {
    float: left;
    width: 50%;
}

.g .g-1-3 {
    float: left;
    width: 33%;
}

.g .g-1-4 {
    float: left;
    width: 25%;
}

.g .g-1-5 {
    float: left;
    width: 20%;
}

ul.g {
    list-style: none;
    padding: 0;
}

ul.g li {
    text-align: center;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}