/** Colors **/
/** Helpers **/
* {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

/** Styles **/
html {
  background-color: white;
  color: #555555;
  font-family: Bitter;
  line-height: 1.5em; }

body {
  max-width: 1280px;
  position: relative; }

a {
  text-decoration: none;
  color: #5abbe6; }

a.dim {
  color: #a2a2a2; }

.warning {
  color: #af153c; }

h2 {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid #eeeeee; }

#bigpic {
  width: 100%;
  height: auto;
  position: relative; }
  #bigpic .label {
    position: absolute;
    right: 0;
    background-color: #5abbe6;
    font-family: Verdana, Arial;
    font-size: 0.75em;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    bottom: 3em; }

img.bigpic {
  border: 1px solid #5abbe6;
  width: 100%; }

#vcard dt {
  float: left;
  clear: left;
  width: 15%;
  text-align: center; }

#vcard dd {
  float: left;
  clear: right;
  width: 85%;
  margin: 0;
  line-height: 1.15em;
  margin-bottom: 0.5em; }

header nav ul {
  padding: 0; }

header nav li {
  display: inline-block;
  margin-left: 1em; }

header nav li.sep {
  display: block;
  height: 0.5em; }

table th {
  text-align: left; }
table .right {
  text-align: right; }
table td, table th {
  padding-right: 0.25em; }

ul.socnet li {
  list-style: none;
  float: left;
  width: 30%;
  text-align: center; }

/** Responsive Styles **/
@media screen {
  header, article {
    margin: 3.125%; }

  #bigpic {
    display: none; }

  header nav {
    text-align: center; }

  #vcard img.logo {
    width: 65%;
    margin-left: 17.5%; }

  iframe {
    display: none; }

  img.map {
    width: 100%;
    height: auto; } }
@media screen and (min-width: 768px) {
  header {
    margin: 3.125% 6.25% 6.25% 6.25%; }

  article {
    margin-left: 40.625%;
    margin-right: 9.375%; }

  #bigpic, #vcard {
    display: block; }

  #vcard {
    left: 9.375%;
    top: 0;
    width: 25%;
    min-height: 400px;
    position: absolute;
    z-index: 10;
    background: url("./leather.png");
    box-shadow: rgba(0, 0, 0, 0.5) 1px 3px 10px;
    border-radius: 5px; }

  #vcard img.logo, #vcard dl, #vcard p {
    width: 80%;
    margin: 10%;
    font-size: 0.875em; }

  header nav {
    text-align: right;
    font-size: 0.875em; }

  iframe {
    display: block;
    width: 100%;
    height: 400px;
    border: 0; }

  img.map {
    display: none; } }
