body {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: Bitter;
}

h1 { font-size: 8em; margin-top: 10%; }
p { font-size: 4em;}

.blue { color: #5abbe6; }
.red { color: #AF153C; }